<div class="product-card">
  <div class="images">
    <img  *ngFor="let img of images; let i = index"
      [src]="img"
      [class.thumb]="i !== 0"
      [class.main-image]="i === 0"/>
  </div>

  <div class="details">
    <h1 class="title">{{product_name}}</h1>
    <div class="rating">
   
     <div class="stars">
  <span *ngFor="let star of [].constructor(product_score)">⭐</span>
</div>


      
      <div class="score">{{product_score}}/5</div>
    </div>

    <div class="price-row">
      <span class="price">${{new_price}}</span>
      <span class="old-price">${{old_price}}</span>
    </div>

    <div class="description">
      {{product_description}}
    </div>

    <div class="label">Select Colors</div>
    <div class="color-options">
      <div class="color"></div>
      <div class="color check"></div>
    </div>

    <div class="label">Choose Size</div>
    <div class="sizes">
      <button class="size">Small</button>
      <button class="size">Medium</button>
      <button class="size active">Large</button>
      <button class="size">X-Large</button>
    </div>

    <div class="actions">
      <div class="quantity">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </div>

    <div class="discount">-40%</div>
  </div>
</div>
