<nav class="navbar">
  <div class="left-nav">
    <div class="logo">SHOP.CO</div>
    <ul class="nav-links">
      <li class="dropdown">Shop <span class="arrow">&#9662;</span></li>
      <li>On Sale</li>
      <li>New Arrivals</li>
      <li>Brands</li>
    </ul>
  </div>

  <div class="search-actions">
    <div class="search-bar">
      <input type="text" placeholder="Search for products..." />
    </div>
    <div class="actions">
      <img src="assets/icons/user.png" alt="User" class="icon-img" />
      <img src="assets/icons/cart.png" alt="Cart" class="icon-img" />
    </div>
  </div>
</nav>
